//STYLING FOR THE CONTACT PAGE HERE

.contact-bg-text{

    font-size:19rem;
     color:$bgTextColor;
     line-height:1;
}

.email-text{
    font-size: 2rem;
    font-family: 'open_sanslight', sans-serif;
    color:$bodyContentColor;
    z-index:3;
    @media(max-width:375px){
        font-size: 1.25rem;

    }

    a {
       font-size: 2rem; 

       @media(max-width:375px){
        font-size: 1.5rem;
        
     }
    }
}

.contact-subhead {
    font-family: 'open_sanssemibold', sans-serif;
    font-size:3rem;
    font-weight: normal;
    @media (max-width:375px){
        font-size:2rem;
    }
}

.container-height{
   height:10px;
}