//STYLING FOR HOME PAGE HERE

.home-bg-text {
     font-size:15rem;
     color:$bgTextColor;
     line-height:1;
     z-index:2;
}

.home-hello-text{
    font-size:4.5rem;
    
}

.name-txt{
    font-size:1.5rem;

}

.container-header{
  z-index:3;
}