
//NAV STYLING GOES HERE

a{
    text-decoration:none;
    font-size:.8rem;
    padding: 5px;
    color:$linkColor;
    font-family: 'open_sanslight', sans-serif;
    font-weight:200;
}






a:visited{
   color:$linkColor; 
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-nav-container{
    justify-content:flex-start;
   
    
}

.info-nav-container{
    
    
}

.info-nav{
    display:inline-flex;
    justify-items:space-between;
}

.info-nav li {
    list-style:none;
    justify-content: space-between;
    padding-right: 15px;
    padding: 0px;
    margin: 0px;
}